<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindOfDay%></h1>

    <ul>
      <li>Buy Food</li>
      <li>Take a shower</li>
      <li>Clean the ho</li>
    </ul>
  </body>
</html>
